.btn {
	$color: 'pink';
	$n: 7;
	--btn-bg: var(--color-#{$color}-#{$n});
	--btn-border: var(--color-#{$color}-#{$n - 4});

	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--size-1);

	border-radius: var(--radius-md);
	font-size: var(--scale-0);
	line-height: var(--line-none);

	padding: var(--size-3) var(--size-4);
	position: relative;
	z-index: 1;

	transition: 150ms ease;

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		border-radius: var(--radius-md);

		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		transition: 150ms ease;
	}

	&::before {
		background-color: var(--btn-border);
		z-index: -2;
		translate: 0 2px;
	}

	&::after {
		background-color: var(--btn-bg);
		z-index: -1;
	}

	&:hover {
		cursor: pointer;
		translate: 0 -2px;

		&::before {
			translate: 0 4px;
		}
	}

	&:active {
		border-bottom-width: 1px;
		translate: 0 1px;

		&::before {
			translate: 0 1px;
		}
	}
}

.btn-sand {
	$color: 'sand';
	$n: 9;
	--btn-bg: var(--color-#{$color}-#{$n});
	--btn-border: var(--color-#{$color}-#{$n - 4});
}

.btn-gray {
	$color: 'gray';
	$n: 9;
	--btn-bg: var(--color-#{$color}-#{$n});
	--btn-border: var(--color-#{$color}-#{$n - 4});
}
