@import '@fontsource/fira-mono';

:root {
	--color-bg-0: var(--color-gray-200);
	--color-bg-1: var(--color-gray-100);
	--color-bg-2: var(--color-gray-50);

	--color-success: var(--color-cyan-600);
	--color-text: var(--color-gray-800);

	--column-width: 42rem;
	--column-margin-top: 4rem;

	font-family: var(--font-sans);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

h1 {
	font-size: var(--scale-fluid-5);
}

p {
	line-height: var(--line-md);
}

a {
	color: var(--color-orange-800);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

pre {
	font-size: var(--scale-0);
	font-family: var(--font-mono);
	background-color: var(--color-gray-100);
	border-radius: var(--radius-sm);
	box-shadow: var(--shadow-xs);
	padding: var(--size-3);
	overflow-x: auto;
	color: var(--color-text);
}



input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.text-column {
	display: flex;
	max-width: var(--width-md);
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}